table {
    position: absolute;
    width: 896px;
    height: 357px;
    left: 272px;
    top: 518px;

    background: #FFFFFF;
    border: 1.2px solid #878787;
    box-sizing: border-box;
    border-radius: 10px;
}

th#status {
    position: absolute;
    width: 53px;
    height: 20px;
    left: 316px;
    top: 538px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}