@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

table {
    border-radius: 10px!important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

th#status {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    border-bottom: 1px, solid, #878787;

    color: #000000;
}

th#email {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    padding-left: 80px;

    color: #000000;
}

th#resendemail {

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    display: flex;
    
    text-align: center;

    color: #000000;
}

tr#row {
    padding-bottom: 0px;
}

td#email {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    display: flex;
    align-items: center;

    color: #000000;
}

td#resendfalse {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    text-align: right;

    color: #C4C4C4;
}

td#resendtrue {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    display: flex;
    align-items: center;
    text-align: right;

    color: #00AADE;
}